#web_bg {
	/* ����ͼ��ĵ�ַ��url�����  */
  background: url(E:\����\��Ŀ\myblog\ANnianBlog\themes\butterfly\source\img\back.jpg);
  /* ����ͼ���ظ� */
  background-repeat: no-repeat;
  /* ����ͼ���С */
  background-size: cover;
}